/* jaguar_company_minerAI.plist
 *
 * Copyright © 2012 Richard Thomas Harrison (Tricky)
 *
 * This work is licensed under the Creative Commons
 * Attribution-Noncommercial-Share Alike 3.0 Unported License.
 *
 * To view a copy of this license, visit
 * http://creativecommons.org/licenses/by-nc-sa/3.0/ or send a letter
 * to Creative Commons, 171 Second Street, Suite 300, San Francisco,
 * California, 94105, USA.
 *
 * AI for the Jaguar Company miner.
 */

{
    GLOBAL =
    {
        ENTER = ("setSpeedFactorTo: 0.1", "setStateTo: LOOK_FOR_SPLINTERS");
        /* Exited witchspace from interstellar space. Go to the nearest base or station. */
        "EXITED WITCHSPACE" = ("setStateTo: GO_TO_STATION");
    };

    "LOOK_FOR_ROCKS" =
    {
        ENTER = (performIdle);
        /* This will be caught by $scanForCascadeWeapon which should work for Oolite v1.74+
         * Emulates the Oolite v1.77 and newer method of supplying a message for cascade weapons being deployed.
         */
        "CASCADE_WEAPON_FOUND" = ("sendScriptMessage: $saveAIState", "setStateTo: CASCADE_WEAPON_FOUND");
        /* Let everyone know that someone is shooting at us.
         * See $shipIsBeingAttacked in jaguar_company_attackers.js
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        /* Deal with incoming missile. */
        "INCOMING_MISSILE" =
        (
            "sendScriptMessage: $saveAIState",
            "setStateTo: MISSILE_DETECTED",
            "randomPauseAI: 0.25 0.75"
        );
        /* Respond to an attack call by fleeing. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: FLEE");
        "TARGET_FOUND" = (setTargetToFoundTarget, "setStateTo: BREAK_ROCKS");
        "NOTHING_FOUND" = ("setStateTo: GO_TO_STATION");
        UPDATE = ("pauseAI: 8.0", scanForRocks, "sendScriptMessage: $scanForCascadeWeapon");
    };

    "BREAK_ROCKS" =
    {
        ENTER = (performMining);
        /* Combat messages. See LOOK_FOR_ROCKS. */
        "CASCADE_WEAPON_FOUND" =
        (
            "sendScriptMessage: $saveAIState LOOK_FOR_SPLINTERS",
            "setStateTo: CASCADE_WEAPON_FOUND"
        );
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            "sendScriptMessage: $saveAIState",
            "setStateTo: MISSILE_DETECTED",
            "randomPauseAI: 0.25 0.75"
        );
        /* Respond to an attack call by fleeing. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: FLEE");
        "TARGET_DESTROYED" = ("setStateTo: LOOK_FOR_SPLINTERS");
        "TARGET_LOST" = ("setStateTo: LOOK_FOR_SPLINTERS");
        UPDATE = ("pauseAI: 8.0", "sendScriptMessage: $scanForCascadeWeapon");
    };

    "LOOK_FOR_SPLINTERS" =
    {
        ENTER = (performIdle, checkForFullHold);
        /* Combat messages. See LOOK_FOR_ROCKS. */
        "CASCADE_WEAPON_FOUND" =
        (
            "sendScriptMessage: $saveAIState LOOK_FOR_SPLINTERS",
            "setStateTo: CASCADE_WEAPON_FOUND"
        );
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            "sendScriptMessage: $saveAIState",
            "setStateTo: MISSILE_DETECTED",
            "randomPauseAI: 0.25 0.75"
        );
        /* Respond to an attack call by fleeing. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: FLEE");
        "TARGET_FOUND" = (setTargetToFoundTarget, "setStateTo: COLLECT_STUFF");
        "NOTHING_FOUND" = ("setStateTo: LOOK_FOR_ROCKS");
        "HOLD_FULL" = ("setStateTo: GO_TO_STATION");
        "NO_CARGO_BAY" = ("setStateTo: GO_TO_STATION");
        UPDATE = ("pauseAI: 8.0", scanForLoot, "sendScriptMessage: $scanForCascadeWeapon");
    };

    "COLLECT_STUFF" =
    {
        ENTER = (performCollect);
        /* Combat messages. See LOOK_FOR_ROCKS. */
        "CASCADE_WEAPON_FOUND" =
        (
            "sendScriptMessage: $saveAIState LOOK_FOR_SPLINTERS",
            "setStateTo: CASCADE_WEAPON_FOUND"
        );
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            "sendScriptMessage: $saveAIState",
            "setStateTo: MISSILE_DETECTED",
            "randomPauseAI: 0.25 0.75"
        );
        /* Respond to an attack call by fleeing. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: FLEE");
        FRUSTRATED = ("setStateTo: LOOK_FOR_SPLINTERS");
        "CARGO_SCOOPED" = ("setStateTo: LOOK_FOR_SPLINTERS");
        "HOLD_FULL" = ("setStateTo: GO_TO_STATION");
        "TARGET_LOST" = ("setStateTo: LOOK_FOR_SPLINTERS");
        "COLLISION" = ("setStateTo: LOOK_FOR_SPLINTERS");
        UPDATE = ("pauseAI: 8.0", "sendScriptMessage: $scanForCascadeWeapon");
    };

    "GO_TO_STATION" =
    {
        /* Search for the base and get it's co-ordinates. */
        ENTER = ("sendScriptMessage: $setCoordsToJaguarCompanyBase");
        /* Combat messages. See LOOK_FOR_ROCKS. */
        "CASCADE_WEAPON_FOUND" = ("sendScriptMessage: $saveAIState", "setStateTo: CASCADE_WEAPON_FOUND");
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            "sendScriptMessage: $saveAIState",
            "setStateTo: MISSILE_DETECTED",
            "randomPauseAI: 0.25 0.75"
        );
        /* Respond to an attack call by fleeing. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: FLEE");
        /* Co-ordinates set to the base so let's set a course to it. */
        "JAGUAR_COMPANY_BASE_FOUND" =
        (
            setDestinationFromCoordinates,
            "setDesiredRangeTo: 5000.0",
            checkCourseToDestination
        );
        /* Base has gone.
         * Probably blown up by a pirate or thargoid. Hyperspace out to another system.
         */
        "JAGUAR_COMPANY_BASE_NOT_FOUND" = ("addFuel: 7", performHyperSpaceExitWithoutReplacing);
        /* Course is OK. */
        "COURSE_OK" = (setSpeedToCruiseSpeed, performFlyToRangeFromDestination);
        /* Something in the way. */
        "WAYPOINT_SET" = ("setAITo: jaguar_company_waypointAI.plist");
        /* Start docking procedures. */
        "DESIRED_RANGE_ACHIEVED" = (setTargetToNearestStation, "setAITo: jaguar_company_dockingAI.plist");
        /* Wandered into a wormhole whilst in waypoint AI. */
        WORMHOLE = ("setStateTo: GLOBAL");
        /* Search for the base and get it's co-ordinates. Also check for cascade weapons. */
        UPDATE =
        (
            "pauseAI: 8.0",
            "sendScriptMessage: $setCoordsToJaguarCompanyBase",
            "sendScriptMessage: $scanForCascadeWeapon"
        );
    };

    FLEE =
    {
        ENTER = ("setDesiredRangeTo: 25600", performFlee);
        /* Combat messages. See LOOK_FOR_ROCKS. */
        "CASCADE_WEAPON_FOUND" =
        (
            "sendScriptMessage: $saveAIState LOOK_FOR_SPLINTERS",
            "setStateTo: CASCADE_WEAPON_FOUND"
        );
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            "sendScriptMessage: $saveAIState LOOK_FOR_SPLINTERS",
            "setStateTo: MISSILE_DETECTED",
            "randomPauseAI: 0.25 0.75"
        );
        /* Reached safety. */
        "REACHED_SAFETY" = ("setSpeedTo: 0.0", performIdle);
        "ENERGY_FULL" = (performIdle, "setStateTo: LOOK_FOR_SPLINTERS");
        "TARGET_LOST" = (performIdle, "setStateTo: LOOK_FOR_SPLINTERS");
    };

    /* Either fight or flee from the missile. */
    "FLEE_FOR_MISSILE" =
    {
        /* Check for cascade weapons whilst fleeing to a range of 10km from the missile. */
        ENTER = ("sendScriptMessage: $scanForCascadeWeapon", "setDesiredRangeTo: 10000.0", performFlee);
        /* Combat messages. See LOOK_FOR_ROCKS. */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: CASCADE_WEAPON_FOUND");
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        /* Break off flee to deal with incoming missile. */
        "INCOMING_MISSILE" = ("setStateTo: MISSILE_DETECTED", "randomPauseAI: 0.25 0.75");
        /* Current target was either destroyed or disappeared off the scanner. Recall the last state. */
        "TARGET_DESTROYED" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        "TARGET_LOST" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        /* We have put some distance between us and the missile. Recall the last state. */
        "REACHED_SAFETY" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        /* Fire the ECM every 10 seconds and check for cascade weapons. */
        UPDATE = ("pauseAI: 8.0", fightOrFleeMissile, "sendScriptMessage: $scanForCascadeWeapon");
    };

    /* Deal with incoming missile. */
    "MISSILE_DETECTED" =
    {
        /* Fire the ECM (if available) and flee from the missile. */
        UPDATE =
        (
            setTargetToPrimaryAggressor,
            fightOrFleeMissile,
            "sendScriptMessage: $performJaguarCompanyAttackTarget",
            "setStateTo: FLEE_FOR_MISSILE"
        );
    };

    /* Run away (anywhere). Target has already been set */
    "CASCADE_WEAPON_FOUND" =
    {
        ENTER = (setDestinationToTarget, "setDesiredRangeTo: 25600.0", performFlee, "pauseAI: 2.0");
        "CASCADE_WEAPON_FOUND" = ("setStateTo: CASCADE_WEAPON_FOUND");
        "TARGET_LOST" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        "REACHED_SAFETY" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        "DESIRED_RANGE_ACHIEVED" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        UPDATE = ("pauseAI: 2.0", "sendScriptMessage: $scanForCascadeWeapon");
    };
}