/* jaguar_company_patrolAI.plist for the Jaguar Company.
**
** Copyright (C) 2012 Tricky
**
** This work is licensed under the Creative Commons
** Attribution-Noncommercial-Share Alike 3.0 Unported License.
**
** To view a copy of this license, visit
** http://creativecommons.org/licenses/by-nc-sa/3.0/ or send a letter
** to Creative Commons, 171 Second Street, Suite 300, San Francisco,
** California, 94105, USA.
**
** AI for the Jaguar Company ships.
**
** There is now no concept of leaders and wingmen. All ships keep in a group.
*/

{
    /* Switch the running lights off and regroup. */
    GLOBAL =
    {
		ENTER = (switchLightsOff, "setStateTo: REGROUP");
    };

    /* Find all members of the company and group up.
    **
    ** "setSpeedFactorTo: 2.0" is similar (but not quite the same) to CommonSenseOTB's Q-Charger.
    */
    "REGROUP" =
    {
        ENTER = ("setSpeedFactorTo: 1.0", "sendScriptMessage: $locateJaguarCompany");
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
        ATTACKED = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "INCOMING_MISSILE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: LOOT", "setAITo: jaguar_company_interceptAI.plist");
        "JAGUAR_COMPANY_NOT_FOUND" = ("setStateTo: CHECK_CURRENT_ROUTE");
        "JAGUAR_COMPANY_FOUND" = ("setDesiredRangeTo: 3250.0", setDestinationToTarget, checkCourseToDestination);
        "COURSE_OK" = ("sendScriptMessage: $checkJaguarCompanyDistance");
        "JAGUAR_COMPANY_FAR_AWAY" = ("setSpeedFactorTo: 50.0", performFlyToRangeFromDestination);
        "JAGUAR_COMPANY_NEARBY" = ("setSpeedFactorTo: 7.0", performFlyToRangeFromDestination);
        "JAGUAR_COMPANY_CLOSE" = ("setSpeedFactorTo: 2.0", performFlyToRangeFromDestination);
        "JAGUAR_COMPANY_REGROUPED" = (performIdle, "setStateTo: CHECK_CURRENT_ROUTE");
        "WAYPOINT_SET" = ("setAITo: gotoWaypointAI.plist");
        "DESIRED_RANGE_ACHIEVED" = (performIdle, "setStateTo: CHECK_CURRENT_ROUTE");
        UPDATE = ("addFuel: 1.0", "sendScriptMessage: $locateJaguarCompany", "sendScriptMessage: $detectQBomb", "pauseAI: 10.0");
    };

    /* Check our current route and go to it's state. */
    "CHECK_CURRENT_ROUTE" =
    {
        ENTER = ("sendScriptMessage: $checkCurrentRoute");
        "GOTO_WITCHPOINT_FROM_BASE" = ("setStateTo: HEAD_FOR_WITCHPOINT_FROM_BASE");
        "GOTO_WITCHPOINT" = ("setStateTo: HEAD_FOR_WITCHPOINT");
        "GOTO_PLANET" = ("setStateTo: HEAD_FOR_PLANET");
        "GOTO_BASE" = ("setStateTo: HEAD_FOR_BASE");
        "INVALID_ROUTE" = ("setStateTo: REGROUP");
    };

    /* Find out what the next route is and go to it's state. */
    "FIND_NEXT_ROUTE" =
    {
        ENTER = ("sendScriptMessage: $findNextRoute");
        "GOTO_WITCHPOINT_FROM_BASE" = ("setStateTo: HEAD_FOR_WITCHPOINT_FROM_BASE");
        "GOTO_WITCHPOINT" = ("setStateTo: HEAD_FOR_WITCHPOINT");
        "GOTO_PLANET" = ("setStateTo: HEAD_FOR_PLANET");
        "GOTO_BASE" = ("setStateTo: HEAD_FOR_BASE");
        "INVALID_ROUTE" = ("setStateTo: REGROUP");
    };

    "HEAD_FOR_PLANET" =
    {
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", setCourseToPlanet, "setDesiredRangeTo: 50000.0", checkCourseToDestination);
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
        "TARGET_FOUND" = (setTargetToFoundTarget, "sendScriptMessage: $jaguarCompanyAttackTarget");
        ATTACKED = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "INCOMING_MISSILE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: LOOT", "setAITo: jaguar_company_interceptAI.plist");
        "COURSE_OK" = (setSpeedToCruiseSpeed, performFlyToRangeFromDestination, "sendScriptMessage: $checkJaguarCompanyRegroup 12500.0");
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: REGROUP");
        "WAYPOINT_SET" = ("setAITo: gotoWaypointAI.plist");
        "AEGIS_CLOSE_TO_MAIN_PLANET" = ("setStateTo: FIND_NEXT_ROUTE");
        "DESIRED_RANGE_ACHIEVED" = (performIdle, "setStateTo: FIND_NEXT_ROUTE");
        RESTARTED = (checkAegis);
        UPDATE = (setCourseToPlanet, "setDesiredRangeTo: 50000.0", checkCourseToDestination, scanForOffenders, "sendScriptMessage: $detectQBomb", "pauseAI: 10.0");
    };

    "HEAD_FOR_WITCHPOINT" =
    {
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", setCourseToWitchpoint, checkCourseToDestination);
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
        "TARGET_FOUND" = (setTargetToFoundTarget, "sendScriptMessage: $jaguarCompanyAttackTarget");
        ATTACKED = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "INCOMING_MISSILE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: LOOT", "setAITo: jaguar_company_interceptAI.plist");
        "COURSE_OK" = (setSpeedToCruiseSpeed, performFlyToRangeFromDestination, "sendScriptMessage: $checkJaguarCompanyRegroup 12500.0");
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: REGROUP");
        "WAYPOINT_SET" = ("setAITo: gotoWaypointAI.plist");
        "DESIRED_RANGE_ACHIEVED" = (performIdle, "setStateTo: FIND_NEXT_ROUTE");
        UPDATE = (setCourseToWitchpoint, checkCourseToDestination, scanForOffenders, "sendScriptMessage: $detectQBomb", "pauseAI: 10.0");
    };

    /* Since we are injecting to the witchpoint from the base, ranges need to be increased. */
    "HEAD_FOR_WITCHPOINT_FROM_BASE" =
    {
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", setCourseToWitchpoint, "setDesiredRangeTo: 20000.0", checkCourseToDestination);
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
        "TARGET_FOUND" = (setTargetToFoundTarget, "sendScriptMessage: $jaguarCompanyAttackTarget");
        ATTACKED = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "INCOMING_MISSILE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: LOOT", "setAITo: jaguar_company_interceptAI.plist");
        "COURSE_OK" = ("setSpeedFactorTo: 7.0", performFlyToRangeFromDestination, "sendScriptMessage: $checkJaguarCompanyRegroup 22500.0");
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: REGROUP");
        "WAYPOINT_SET" = ("setAITo: gotoWaypointAI.plist");
        "DESIRED_RANGE_ACHIEVED" = (performIdle, "setStateTo: FIND_NEXT_ROUTE");
        UPDATE = (setCourseToWitchpoint, checkCourseToDestination, scanForOffenders, "sendScriptMessage: $detectQBomb", "pauseAI: 10.0");
    };

    /* Head for the base. Docking will come later. */
    "HEAD_FOR_BASE" =
    {
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", "sendScriptMessage: $locateJaguarCompanyBase");
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
        "TARGET_FOUND" = (setTargetToFoundTarget, "sendScriptMessage: $jaguarCompanyAttackTarget");
        ATTACKED = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "INCOMING_MISSILE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: LOOT", "setAITo: jaguar_company_interceptAI.plist");
        "JAGUAR_COMPANY_BASE_FOUND" = ("setDesiredRangeTo: 10000.0", setDestinationToTarget, checkCourseToDestination);
        "JAGUAR_COMPANY_BASE_NOT_FOUND" = ("setStateTo: REGROUP");
        "COURSE_OK" = (setSpeedToCruiseSpeed, performFlyToRangeFromDestination, "sendScriptMessage: $checkJaguarCompanyRegroup 12500.0");
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: REGROUP");
        "WAYPOINT_SET" = ("setAITo: gotoWaypointAI.plist");
        "DESIRED_RANGE_ACHIEVED" = (performIdle, "setStateTo: FIND_NEXT_ROUTE");
        UPDATE = ("sendScriptMessage: $locateJaguarCompanyBase", "setDesiredRangeTo: 10000.0", scanForOffenders, "sendScriptMessage: $detectQBomb", "pauseAI: 10.0");
    };

    /* Pick up any cargo that's been ejected after a kill. */
    "LOOT" =
    {
        ENTER = ("setSpeedTo: 0.0", performIdle);
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
        ATTACKED = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "INCOMING_MISSILE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $jaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setAITo: jaguar_company_interceptAI.plist");
        "TARGET_FOUND" = (setTargetToFoundTarget, "setAITo: collectLootAI.plist");
        "NOTHING_FOUND" = ("setStateTo: REGROUP");
        "HOLD_FULL" = ("setStateTo: REGROUP");
        UPDATE = (scanForLoot, "sendScriptMessage: $detectQBomb", "pauseAI: 10.0");
    };

    /* Run away (anywhere) as fast as possible. */
    "QBOMB_DETECTED" =
    {
        ENTER = ("setDesiredRangeTo: 51200.0", "setSpeedFactorTo: 7.0", performFlee);
        "CASCADE_WEAPON_DETECTED" = ("setStateTo: QBOMB_DETECTED");
		"REACHED_SAFETY" = (performIdle, "pauseAI: 10.0", "setStateTo: REGROUP");
        "DESIRED_RANGE_ACHIEVED" = (performIdle, "pauseAI: 10.0", "setStateTo: REGROUP");
        UPDATE = ("addFuel: 1.0", performFlee, "sendScriptMessage: $detectQBomb", "pauseAI: 5.0");
    };
}
