/* jaguar_company_interceptAI.plist
 *
 * Copyright © 2012-2013 Richard Thomas Harrison (Tricky)
 *
 * This work is licensed under the Creative Commons
 * Attribution-Noncommercial-Share Alike 3.0 Unported License.
 *
 * To view a copy of this license, visit
 * http://creativecommons.org/licenses/by-nc-sa/3.0/ or send a letter
 * to Creative Commons, 171 Second Street, Suite 300, San Francisco,
 * California, 94105, USA.
 *
 * Intercept AI for the Jaguar Company.
 * Based on traderInterceptAI.plist Copyright © 2004-2013 Giles C Williams and contributors.
 *   Without the escort, cloak or wormhole states.
 */

{
    GLOBAL =
    {
        /* Switch the running lights on and enter attack or flee mode. */
        ENTER = (switchLightsOn, "sendScriptMessage: $scanForCascadeWeapon");
        /* This will be caught by $scanForCascadeWeapon which should work for Oolite v1.74+
         * Emulates the Oolite v1.77 and newer method of supplying a message for cascade weapons being deployed.
         */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: EXIT_AI_FOR_CASCADE_WEAPON");
        /* Always set the target and do a fightOrFleeHostiles before starting this AI-state. */
        FIGHTING = ("setStateTo: ATTACK_SHIP");
        FLEEING = ("setStateTo: FLEE");
        /* Deal with incoming missile. */
        "INCOMING_MISSILE" = ("setStateTo: MISSILE_DETECTED", "randomPauseAI: 0.25 0.75");
        /* Current target was either destroyed or disappeared off the scanner. Exit AI. */
        "TARGET_DESTROYED" = ("setStateTo: EXIT_AI");
        "TARGET_LOST" = ("setStateTo: EXIT_AI");
    };

    /* Switch the running lights off and exit the AI. */
    "EXIT_AI" =
    {
        ENTER = (switchLightsOff, exitAI);
    };

    /* Switch the running lights off and exit the AI. */
    "EXIT_AI_FOR_CASCADE_WEAPON" =
    {
        ENTER = (switchLightsOff, "exitAIWithMessage: CASCADE_WEAPON_FOUND");
    };

    /* Attack the ship. */
    "ATTACK_SHIP" =
    {
        /* Start attacking.
         *
         * In ATTACK_SHIP we drop a few AI messages that we can ignore and go into attack mode.
         */
        ENTER = ("dropMessages: FRIENDLY_FIRE, TARGET_DESTROYED, TARGET_LOST", performAttack);
        /* This will be caught by $scanForCascadeWeapon which should work for Oolite v1.74+
         * Emulates the Oolite v1.77 and newer method of supplying a message for cascade weapons being deployed.
         */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: EXIT_AI_FOR_CASCADE_WEAPON");
        /* Let everyone know that someone is shooting at us and re-enter ATTACK_SHIP.
         * See $shipIsBeingAttacked in jaguar_company_ships.js
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "HOSTILE_FIRE" =
        (
            "dropMessages: FRIENDLY_FIRE, TARGET_DESTROYED, TARGET_LOST",
            setTargetToPrimaryAggressor,
            "sendScriptMessage: $performJaguarCompanyAttackTarget",
            performAttack
        );
        /* Break off attack to deal with incoming missile. */
        "INCOMING_MISSILE" = ("setStateTo: MISSILE_DETECTED", "randomPauseAI: 0.25 0.75");
        /* Ask other ships not fighting to help out and enter FLEE state. */
        "ENERGY_LOW" =
        (
            setTargetToPrimaryAggressor,
            "sendScriptMessage: $performJaguarCompanyAttackTarget",
            "setStateTo: FLEE"
        );
        /* Attackers found. Target has been set. */
        "ATTACKERS_FOUND" = ("sendScriptMessage: $performJaguarCompanyAttackTarget", performAttack);
        /* No more attackers. Go idle and exit the AI. */
        "ATTACKERS_NOT_FOUND" = (performIdle, "setStateTo: EXIT_AI");
        /* We're hitting a friend. Re-scan for attackers. */
        "FRIENDLY_FIRE" = ("dropMessages: TARGET_DESTROYED, TARGET_LOST", "sendScriptMessage: $scanForAttackers");
        /* Current target was either destroyed or disappeared off the scanner. Look for new attackers. */
        "TARGET_DESTROYED" = ("dropMessages: FRIENDLY_FIRE, TARGET_LOST", "sendScriptMessage: $scanForAttackers");
        "TARGET_LOST" = ("dropMessages: FRIENDLY_FIRE, TARGET_DESTROYED", "sendScriptMessage: $scanForAttackers");
        /* Getting frustrated. Look for new attackers. */
        "FRUSTRATED" =
        (
            "dropMessages: FRIENDLY_FIRE, TARGET_DESTROYED, TARGET_LOST",
            "sendScriptMessage: $scanForAttackers"
        );
        /* Regroup. */
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: EXIT_AI");
        /* Check every 5 seconds for cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForCascadeWeapon", "sendScriptMessage: $checkTargetIsValid", "pauseAI: 5.0");
    };

    /* General purpose fight or flee state. */
    FLEE =
    {
        /* Check for cascade weapons whilst fleeing to a range of 10km from the attacker. */
        ENTER = ("sendScriptMessage: $scanForCascadeWeapon", "setDesiredRangeTo: 10000.0", performFlee);
        /* This will be caught by $scanForCascadeWeapon which should work for Oolite v1.74+
         * Emulates the Oolite v1.77 and newer method of supplying a message for cascade weapons being deployed.
         */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: EXIT_AI_FOR_CASCADE_WEAPON");
        /* Let everyone know that someone is shooting at us and re-enter GLOBAL.
         * See $shipIsBeingAttacked in jaguar_company_ships.js
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        /* Break off flee to deal with incoming missile. */
        "INCOMING_MISSILE" = ("setStateTo: MISSILE_DETECTED", "randomPauseAI: 0.25 0.75");
        /* Respond to an attack call. Always call 'fightOrFleeHostiles' after setting the GLOBAL state. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: GLOBAL", fightOrFleeHostiles);
        /* Current target was either destroyed or disappeared off the scanner. Look for new attackers. */
        "TARGET_DESTROYED" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        "TARGET_LOST" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        /* We have put some distance between us and the attacker. Look for new attackers. */
        "REACHED_SAFETY" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        "ENERGY_FULL" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        /* Regroup. */
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: EXIT_AI");
        /* Check every 5 seconds for cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForCascadeWeapon", "pauseAI: 5.0");
    };

    /* Either fight or flee from the missile. */
    "FLEE_FOR_MISSILE" =
    {
        /* Check for cascade weapons whilst fleeing to a range of 10km from the missile. */
        ENTER = ("sendScriptMessage: $scanForCascadeWeapon", "setDesiredRangeTo: 10000.0", performFlee);
        /* This will be caught by $scanForCascadeWeapon which should work for Oolite v1.74+
         * Emulates the Oolite v1.77 and newer method of supplying a message for cascade weapons being deployed.
         */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: EXIT_AI_FOR_CASCADE_WEAPON");
        /* Let everyone know that someone is shooting at us and re-enter GLOBAL.
         * See $shipIsBeingAttacked in jaguar_company_ships.js
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        /* Break off flee to deal with incoming missile. */
        "INCOMING_MISSILE" = ("setStateTo: MISSILE_DETECTED", "randomPauseAI: 0.25 0.75");
        /* Respond to an attack call. Always call 'fightOrFleeHostiles' after setting the GLOBAL state. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setStateTo: GLOBAL", fightOrFleeHostiles);
        /* Current target was either destroyed or disappeared off the scanner. Look for new attackers. */
        "TARGET_DESTROYED" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        "TARGET_LOST" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        /* We have put some distance between us and the missile. Look for new attackers. */
        "REACHED_SAFETY" = ("setStateTo: ATTACK_SHIP", "sendScriptMessage: $scanForAttackers");
        /* Regroup. */
        "JAGUAR_COMPANY_REGROUP" = ("setStateTo: EXIT_AI");
        /* Fire the ECM every 10 seconds and check for cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForCascadeWeapon", fightOrFleeMissile, "pauseAI: 10.0");
    };

    /* Deal with incoming missile. */
    "MISSILE_DETECTED" =
    {
        /* Fire the ECM (if available) and flee from the missile. */
        UPDATE = (setTargetToPrimaryAggressor, fightOrFleeMissile, "setStateTo: FLEE_FOR_MISSILE");
    };
}
