/* jaguar_company_ship_splinterAI.plist
 *
 * Copyright © 2012-2014 Richard Thomas Harrison (Tricky)
 *
 * This work is licensed under the Creative Commons
 * Attribution-Noncommercial-Share Alike 4.0 International (CC BY-NC-SA 4.0)
 *
 * To view a copy of this license, visit
 * http://creativecommons.org/licenses/by-nc-sa/4.0/ or send an email
 * to info@creativecommons.org
 *
 * AI for the Jaguar Company Splinter Ships.
 */

{
    /* Switch the running lights off. (Used by the shader) */
    GLOBAL =
    {
        ENTER = (switchLightsOff);
        /* Start lurking. */
        "LAUNCHED OKAY" = ("setStateTo: DO_LURK", "sendScriptMessage: $addLurkTimer");
        "EXITED WITCHSPACE" = ("setStateTo: MOVE_AWAY_FROM_WITCHPOINT");
        /* Picked up if we haven't launched but have been spawned directly. */
        UPDATE = ("setStateTo: HEAD_FOR_BASE");
    };

    "DO_LURK" =
    {
        /* Drop any 'DESIRED_RANGE_ACHIEVED' messages. */
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", "sendScriptMessage: $findLurkCoordinates");
        /* This will be caught by $scanForCascadeWeapon which should work for Oolite v1.74+
         * Emulates the Oolite v1.77 and newer method of supplying a message for cascade weapons being deployed.
         */
        "CASCADE_WEAPON_FOUND" = ("sendScriptMessage: $saveAIState", "setStateTo: CASCADE_WEAPON_FOUND");
        /* Let everyone know that someone is shooting at us.
         * See $shipIsBeingAttacked in jaguar_company_ships.js
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        /* Fire the ECM (if available) and let everyone know that someone is shooting a missile at us.
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "INCOMING_MISSILE" =
        (
            setTargetToPrimaryAggressor,
            fightOrFleeMissile,
            "sendScriptMessage: $performJaguarCompanyAttackTarget"
        );
        /* Attackers found by '$scanForAttackers'. Let everyone else know.
         * JAGUAR_COMPANY_ATTACK_TARGET is returned to the caller and other Jaguar Company ships not fighting.
         */
        "ATTACKERS_FOUND" = ("sendScriptMessage: $performJaguarCompanyAttackTarget");
        /* Respond to an attack call. Always call 'fightOrFleeHostiles' after setting the intercept AI. */
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setAITo: jaguar_company_interceptAI.plist", fightOrFleeHostiles);
        /* Co-ordinates set to a lurk position so let's set a course to it. */
        LURK = (setDestinationFromCoordinates, "setDesiredRangeTo: 100.0", checkCourseToDestination);
        /* Course is OK. */
        "COURSE_OK" = (setSpeedToCruiseSpeed, performFlyToRangeFromDestination);
        /* Something in the way. */
        "WAYPOINT_SET" = ("setAITo: jaguar_company_waypointAI.plist");
        /* This means we have reached an ideal distance. */
        "DESIRED_RANGE_ACHIEVED" = (setTargetToNearestStation, setDestinationToTarget, performFaceDestination);
        /* We're taking damage from another ship so move away from it. */
        "JAGUAR_COMPANY_TAKING_DAMAGE" = ("sendScriptMessage: $saveAIState", "setStateTo: MOVE_AWAY");
        /* We need to dock. */
        "JAGUAR_COMPANY_DOCK" = ("setStateTo: HEAD_FOR_BASE");
        /* Wandered into a wormhole whilst in waypoint AI. */
        WORMHOLE = ("setStateTo: MOVE_AWAY_FROM_WITCHPOINT");
        /* AI restarted. */
        RESTARTED = ("dropMessages: DESIRED_RANGE_ACHIEVED", "sendScriptMessage: $findLurkCoordinates");
        /* Scan for attackers and cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForAttackers", "sendScriptMessage: $scanForCascadeWeapon", "pauseAI: 5.0");
    };

    "HEAD_FOR_BASE" =
    {
        /* Target Jaguar Company buoy (or the base if not found). */
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", "sendScriptMessage: $setCoordsToJaguarCompanyBuoy");
        /* See AI state 'DO_LURK' for an explanantion of the next 5 messages. */
        "CASCADE_WEAPON_FOUND" = ("sendScriptMessage: $saveAIState", "setStateTo: CASCADE_WEAPON_FOUND");
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            setTargetToPrimaryAggressor,
            fightOrFleeMissile,
            "sendScriptMessage: $performJaguarCompanyAttackTarget"
        );
        "ATTACKERS_FOUND" = ("sendScriptMessage: $performJaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setAITo: jaguar_company_interceptAI.plist", fightOrFleeHostiles);
        /* Co-ordinates set to the buoy so let's set a course 2km from it. */
        "JAGUAR_COMPANY_BUOY_FOUND" =
        (
            setDestinationFromCoordinates,
            "setDesiredRangeTo: 2000.0",
            checkCourseToDestination
        );
        /* Co-ordinates set to the base so let's set a course 12km from it. */
        "JAGUAR_COMPANY_BASE_FOUND" =
        (
            setDestinationFromCoordinates,
            "setDesiredRangeTo: 12000.0",
            checkCourseToDestination
        );
        /* Course is OK. */
        "COURSE_OK" = (setSpeedToCruiseSpeed, performFlyToRangeFromDestination);
        /* Something in the way. */
        "WAYPOINT_SET" = ("setAITo: jaguar_company_waypointAI.plist");
        /* This means we have reached an ideal distance. Now we can dock. */
        "DESIRED_RANGE_ACHIEVED" = (setTargetToNearestStation, "setAITo: jaguar_company_dockingAI.plist");
        /* We're taking damage from another ship so move away from it. */
        "JAGUAR_COMPANY_TAKING_DAMAGE" = ("sendScriptMessage: $saveAIState", "setStateTo: MOVE_AWAY");
        /* Wandered into a wormhole whilst in waypoint AI. */
        WORMHOLE = ("setStateTo: MOVE_AWAY_FROM_WITCHPOINT");
        /* AI restarted. */
        RESTARTED = ("setStateTo: HEAD_FOR_BASE");
        /* Scan for attackers and cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForAttackers", "sendScriptMessage: $scanForCascadeWeapon", "pauseAI: 5.0");
    };

    /* Move away from the witchpoint before heading for the base. */
    "MOVE_AWAY_FROM_WITCHPOINT" =
    {
        ENTER = ("dropMessages: DESIRED_RANGE_ACHIEVED", "sendScriptMessage: $setCoordsToWitchpoint");
        /* See AI state 'DO_LURK' for an explanantion of the next 5 messages. */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: CASCADE_WEAPON_FOUND");
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            setTargetToPrimaryAggressor,
            fightOrFleeMissile,
            "sendScriptMessage: $performJaguarCompanyAttackTarget"
        );
        "ATTACKERS_FOUND" = ("sendScriptMessage: $performJaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setAITo: jaguar_company_interceptAI.plist", fightOrFleeHostiles);
        /* Co-ordinates set to the witchpoint (or the fake one) so let's set a course to it. */
        "JAGUAR_COMPANY_WITCHPOINT_SET" =
        (
            setDestinationFromCoordinates,
            "setDesiredRangeTo: 30000.0",
            setSpeedToCruiseSpeed,
            performFlyToRangeFromDestination
        );
        /* Got to our desired range. Head for the base. */
        "DESIRED_RANGE_ACHIEVED" = ("setStateTo: HEAD_FOR_BASE", "pauseAI: 2.0");
        /* We're taking damage from another ship so move away from it. */
        "JAGUAR_COMPANY_TAKING_DAMAGE" = ("sendScriptMessage: $saveAIState", "setStateTo: MOVE_AWAY");
        /* Not getting anywhere. Head for the base. */
        "FRUSTRATED" = ("setStateTo: HEAD_FOR_BASE", "pauseAI: 2.0");
        /* AI was restarted. */
        RESTARTED = ("setStateTo: MOVE_AWAY_FROM_WITCHPOINT");
        /* Scan for attackers and cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForAttackers", "sendScriptMessage: $scanForCascadeWeapon", "pauseAI: 5.0");
    };

    /* Move away. Target has already been set. */
    "MOVE_AWAY" =
    {
        ENTER =
        (
            "dropMessages: DESIRED_RANGE_ACHIEVED",
            setDestinationToTarget,
            "setDesiredRangeTo: 2500.0",
            performFlyToRangeFromDestination
        );
        /* See AI state 'DO_LURK' for an explanantion of the next 5 messages. */
        "CASCADE_WEAPON_FOUND" = ("setStateTo: CASCADE_WEAPON_FOUND");
        "HOSTILE_FIRE" = (setTargetToPrimaryAggressor, "sendScriptMessage: $performJaguarCompanyAttackTarget");
        "INCOMING_MISSILE" =
        (
            setTargetToPrimaryAggressor,
            fightOrFleeMissile,
            "sendScriptMessage: $performJaguarCompanyAttackTarget"
        );
        "ATTACKERS_FOUND" = ("sendScriptMessage: $performJaguarCompanyAttackTarget");
        "JAGUAR_COMPANY_ATTACK_TARGET" = ("setAITo: jaguar_company_interceptAI.plist", fightOrFleeHostiles);
        /* Got to our desired range. Recall the last state. */
        "DESIRED_RANGE_ACHIEVED" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        /* Not getting anywhere. Recall the last state. */
        "FRUSTRATED" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        /* AI was restarted. Recall the last state. */
        RESTARTED = ("sendScriptMessage: $recallAIState");
        /* Scan for attackers and cascade weapons. */
        UPDATE = ("sendScriptMessage: $scanForAttackers", "sendScriptMessage: $scanForCascadeWeapon", "pauseAI: 5.0");
    };

    /* Run away (anywhere). Target has already been set */
    "CASCADE_WEAPON_FOUND" =
    {
        ENTER =
        (
            "dropMessages: DESIRED_RANGE_ACHIEVED",
            setDestinationToTarget,
            "setDesiredRangeTo: 25600.0",
            performFlee
        );
        "CASCADE_WEAPON_FOUND" = (setDestinationToTarget, "setDesiredRangeTo: 25600.0", performFlee);
        "TARGET_LOST" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        "REACHED_SAFETY" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        "DESIRED_RANGE_ACHIEVED" = ("sendScriptMessage: $recallAIState", "pauseAI: 2.0");
        UPDATE = ("sendScriptMessage: $scanForCascadeWeapon", "pauseAI: 2.0");
    };
}
