<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleGetInfoString</key>
    <string>Jaguar Company 2.5</string>
    <key>CFBundleName</key>
    <string>Jaguar Company</string>
    <key>CFBundleShortVersionString</key>
    <string>2.5</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2012-2013 Richard Thomas Harrison (Tricky)</string>
</dict>
</plist>
