/* equipment.plist for the Jaguar Company.
 *
 * Copyright © 2012-2014 Richard Thomas Harrison (Tricky)
 *
 * This work is licensed under the Creative Commons
 * Attribution-Noncommercial-Share Alike 4.0 International (CC BY-NC-SA 4.0)
 *
 * To view a copy of this license, visit
 * http://creativecommons.org/licenses/by-nc-sa/4.0/ or send an email
 * to info@creativecommons.org
 *
 * Equipment list for the Jaguar Company.
 */

(
    (
        /* Can't be bought. */
        100, 100000, "Jaguar Company Black Box",
        "EQ_JAGUAR_COMPANY_BLACK_BOX",
        "Black box locator for Jaguar Company.",
        {
            available_to_all = yes;
            available_to_NPCs = no;
            available_to_player = yes;
            condition_script = "jaguar_company_eq_conditions.js";
            portable_between_ships = yes;
            script = "jaguar_company_blackbox.js";
            script_info =
            {
                /* Only the Jaguar Company Base can repair this. */
                thargoidRepairBotChance = 0;
            };
        }
    ),
    (
        /* Can't be bought. */
        100, 5000, "Small ECM Hardened Missile",
        "EQ_JAGUAR_COMPANY_HARDENED_MISSILE_SMALL",
        "Small ECM Hardened Missile for the splinter ships.",
        {
            available_to_all = yes;
            available_to_NPCs = yes;
            available_to_player = no;
            condition_script = "jaguar_company_eq_conditions.js";
            requires_empty_pylon = yes;
        }
    )
)
