/* pirate-victim-roles.plist for the Jaguar Company.
 *
 * Copyright © 2012-2013 Tricky
 *
 * This work is licensed under the Creative Commons
 * Attribution-Noncommercial-Share Alike 3.0 Unported License.
 *
 * To view a copy of this license, visit
 * http://creativecommons.org/licenses/by-nc-sa/3.0/ or send a letter
 * to Creative Commons, 171 Second Street, Suite 300, San Francisco,
 * California, 94105, USA.
 *
 * Roles to be used as pirate victims for the Jaguar Company.
 */

(
    "jaguar_company_patrol",
    "jaguar_company_tug",
    "jaguar_company_miner",
    "jaguar_company_base",
    "jaguar_company_base_buoy"
)
